@import '../../../styles/variables.scss';

.cities-menu {
  position: relative;
  background-color: $c-orange-one;
  width: 100%;
  margin: 0;
  padding-left: 0;

  &__item {
    list-style-type: none;
    height: 50px;
    padding-left: 15px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $c-black-orange-two;
    }

    a {
      &:hover {
        color: $c-white !important  ;
      }
    }
  }

  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
  }
}