<section class="contacts">
  <div class="wrapper">
    <div class="contacts__wrapper">
      <h5 class="contacts__title">Потрібна допомога у виборі санаторію чи пансіонату?</h5>
    </div>
    <p class="contacts__subtitle">Наші спеціалісти завжди на зв’язку та готові допомогти з вибором!</p>
    <div class="contacts__phones">
      <app-phones [type]="phonesType"></app-phones>
    </div>
    <div class="contacts__feedback">
      <div class="contacts__line"></div>
      <button class="contacts__button">ЗАМОВИТИ ЗВОРОТНІЙ ДЗВІНОК</button>
    </div>
  </div>
</section>