// Colors
$c-white: #FFFFFF;
$c-white-1: #E5E5E5;

$c-black: rgba(0, 0, 0, 0.5);
$c-black-one: #333333;
$c-black-orange: #4A1F07;
$c-black-orange-one: #5B2100;
$c-black-orange-two: #4A1F07;
$c-black-orange-three: #200F15;
$c-orange: #C66A36;
$c-orange-one: #8E6954;
$c-orange-two: #A97456;
$c-orange-three: #C27500;
$c-orange-four: #B78131;
$c-silver: #DCDCDC;
$c-silver-one: #9B989B;
$c-grey: #777777;
$c-red: #E44242;
$c-red-black: #B14141;
$c-blue: #003C5E;
$c-green: #85CCAA;
$c-green-one: #009120;

// Fonts
$f-montserrat: 'Montserrat', sans-serif;
$f-open-sans: 'Open Sans', sans-serif;

// Transition
$t-normal: .35s cubic-bezier(.4,0,.2,1);

// Text Shadow