<section class="banner">
  <div class="banner__wrapper">
    <div class="banner__content">
      <div class="wrapper">
        <div class="banner__container">
          <div class="banner__info">
            <h1 class="banner__title">ПУТІВКИ НА КРАЩІ<br> КУРОРТИ УКРАЇНИ</h1>
            <div class="banner__text">Безкоштовна консультація<br>Офіційні ціни</div>
          </div>
          <app-slider></app-slider>
        </div> 
      </div>
    </div>
    <div class="banner__cities">
      <app-cities></app-cities>
    </div>
  </div>
</section>