<div class="phones phones--{{ type }}">
  <div class="phones__item">
    <span class="phones__icon">
      <svg-icon src="../../assets/svg/kyivstar.svg" [svgStyle]="{ 'width.px': 18, 'height.px': 18, 'marginRight.px': '3' }"></svg-icon>
    </span>
    <span class="phones__icon">
      <svg-icon src="../../assets/svg/viber.svg" [svgStyle]="{ 'width.px': 18, 'height.px': 18, 'marginRight.px': '5' }"></svg-icon>
    </span>
    <div class="phones__text">
      +38 (097) 057 7388
    </div>
  </div>
  <div class="phones__item">
    <span class="phones__icon">
      <svg-icon src="../../assets/svg/vodafone.svg" [svgStyle]="{ 'width.px': 18, 'height.px': 18, 'marginRight.px': '3' }"></svg-icon>
    </span>
    <span class="phones__icon">
      <svg-icon src="../../assets/svg/viber.svg" [svgStyle]="{ 'width.px': 18, 'height.px': 18, 'marginRight.px': '5' }"></svg-icon>
    </span>
    <div class="phones__text">
      +38 (066) 679 1174
    </div>
  </div>
  <div class="phones__item">
    <span class="phones__icon">
      <svg-icon src="../../assets/svg/life.svg" [svgStyle]="{ 'width.px': 18, 'height.px': 18, 'marginRight.px': '3' }"></svg-icon>
    </span>
    <span class="phones__icon">
      <svg-icon src="../../assets/svg/viber.svg" [svgStyle]="{ 'width.px': 18, 'height.px': 18, 'marginRight.px': '5' }"></svg-icon>
    </span>
    <div class="phones__text">
      +38 (093) 686 8677
    </div>
  </div>
</div>