<div class="cities">
  <div class="cities__item">
    <a href="#">Трускавець</a>
    <svg-icon class="cities__icon" src="../../assets/svg/arrow.svg" [svgStyle]="{ 'width.px': 10, 'height.px': 15, 'transform.rotation': '90deg', 'marginBottom.px': '-2' }"></svg-icon>
    <div class="cities__menu">
      <app-cities-menu [items]="items"></app-cities-menu>
    </div>
  </div>
  <div class="cities__item">
    <a href="#">Східниця</a>
    <svg-icon class="cities__icon" src="../../assets/svg/arrow.svg" [svgStyle]="{ 'width.px': 10, 'height.px': 15, 'transform.rotation': '90deg', 'marginBottom.px': '-2' }"></svg-icon>
    <div class="cities__menu">
      <app-cities-menu [items]="items"></app-cities-menu>
    </div>
  </div>
  <div class="cities__item">
    <a href="#">Моршин</a>
    <svg-icon class="cities__icon" src="../../assets/svg/arrow.svg" [svgStyle]="{ 'width.px': 10, 'height.px': 15, 'transform.rotation': '90deg', 'marginBottom.px': '-2' }"></svg-icon>
    <div class="cities__menu">
      <app-cities-menu [items]="items"></app-cities-menu>
    </div>
  </div>
  <div class="cities__item">
    <a href="#">Закарпаття</a>
    <svg-icon class="cities__icon" src="../../assets/svg/arrow.svg" [svgStyle]="{ 'width.px': 10, 'height.px': 15, 'transform.rotation': '90deg', 'marginBottom.px': '-2' }"></svg-icon>
    <div class="cities__menu">
      <app-cities-menu [items]="items"></app-cities-menu>
    </div>
  </div>
  <div class="cities__item">
    <a href="#">Хмельник</a>
    <svg-icon class="cities__icon" src="../../assets/svg/arrow.svg" [svgStyle]="{ 'width.px': 10, 'height.px': 15, 'transform.rotation': '90deg', 'marginBottom.px': '-2' }"></svg-icon>
    <div class="cities__menu">
      <app-cities-menu [items]="items"></app-cities-menu>
    </div>
  </div>
  <div class="cities__item">
    <a href="#">Миргород</a>
    <svg-icon class="cities__icon" src="../../assets/svg/arrow.svg" [svgStyle]="{ 'width.px': 10, 'height.px': 15, 'transform.rotation': '90deg', 'marginBottom.px': '-2' }"></svg-icon>
    <div class="cities__menu">
      <app-cities-menu [items]="items"></app-cities-menu>
    </div>
  </div>
  <div class="cities__item">
    <a href="#">Сатанів</a>
    <svg-icon class="cities__icon" src="../../assets/svg/arrow.svg" [svgStyle]="{ 'width.px': 10, 'height.px': 15, 'transform.rotation': '90deg', 'marginBottom.px': '-2' }"></svg-icon>
    <div class="cities__menu">
      <app-cities-menu [items]="items"></app-cities-menu>
    </div>
  </div>
  <div class="cities__item">
    <a href="#">Карпати</a>
    <svg-icon class="cities__icon" src="../../assets/svg/arrow.svg" [svgStyle]="{ 'width.px': 10, 'height.px': 15, 'transform.rotation': '90deg', 'marginBottom.px': '-2' }"></svg-icon>
    <div class="cities__menu">
      <app-cities-menu [items]="items"></app-cities-menu>
    </div>
  </div>
  <div class="cities__item">
    <a href="#">Львів</a>
    <svg-icon class="cities__icon" src="../../assets/svg/arrow.svg" [svgStyle]="{ 'width.px': 10, 'height.px': 15, 'transform.rotation': '90deg', 'marginBottom.px': '-2' }"></svg-icon>
    <div class="cities__menu" id="cities-last">
      <app-cities-menu [items]="items"></app-cities-menu>
    </div>
  </div>
</div>