<div class="logo">
  <div class="logo__wrapper">
    <div class="logo__icon">
      <svg-icon src="../../assets/svg/logo.svg" [svgStyle]="{ 'width.px': 70, 'height.px': 70 }"></svg-icon>
    </div>
    <div class="logo__text">
      <span>vsesanatorii</span>
        <svg-icon src="../../assets/svg/drop.svg" [svgStyle]="{ 'width.px': 10, 'height.px': 14, 'marginBottom.px': '-10' }"></svg-icon>
      <span>com</span>
      <div class="logo__title">Бронювання санаторіїв та готелей</div>
    </div>
  </div>
</div>