<nav class="navigation">
  <div class="wrapper">
    <div class="navigation__wrapper">
      <div class="navigation__item">
        <a href="#">Санаторії та готелі</a>
      </div>
      <div class="navigation__item">
        <a href="#">Тури та екскурсії</a>
      </div>
      <div class="navigation__item">
        <a href="#">Оплата онлайн</a>
      </div>
      <div class="navigation__item">
        <a href="#">Дитячі табори</a>
      </div>
      <div class="navigation__item">
        <a href="#">Підбір туру</a>
      </div>
      <div class="navigation__item">
        <a href="#">Новини</a>
      </div>
      <div class="navigation__item">
        <a href="#">Блог</a>
      </div>
      <div class="navigation__item">
        <a href="#">Про компанію</a>
      </div>
    </div>
  </div>
</nav>